body {
	background:
		url(https://images.unsplash.com/photo-1544716278-e513176f20b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}

div {
	display: block;
	text-align: center;
}

.timer {
	margin-top: 350px;
	margin-left: 70%;
}

form {
	background-color: rgba(209, 193, 193, 0.44);
	margin-right: 30%;
	margin-left: 30%;
	margin-top:10%;
	border-radius: 30px;
	padding: 10px;
	border: black;
	border-color: black;
	border: 5px solid #996666;
}

input {
	width: 30%;
}

label {
	color: rgb(51, 51, 255);
}
#link{
	color:rgb(51, 51, 0);
}
#link:hover{
	background-color:blue;
	padding:2px;
	border-radius:10px;
}
